/* Centraliza tudo na tela */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ccc;
}

.container {
    text-align: center;
}

/* Botões alinhados lado a lado */
.buttons {
    display: flex;
    gap: 10px;
}

/* Estilo dos botões */
.button {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

/* Imagens dentro dos botões */
.button img {
    max-width: 80%;
    max-height: 80%;
}

/* Efeito hover nos botões */
.button:hover {
    transform: scale(1.1);
}

/* Esconde os botões */
.hidden {
    display: none;
}

.result {
    display: flex;
    align-items: center;
}

.result-img {
    width: 111px;
    height: 170px;
    margin-inline: 20px;
}